---
layout: default
title: ""
---
<div class="episodes-list">
  {% assign current_season = nil %}
  {% for post in site.posts %}
    {% if post.itunes_season != current_season %}
      {% assign current_season = post.itunes_season %}
      <h2 class="season-heading">Temporada {{ current_season }}</h2>
    {% endif %}
    <a href="{{ post.url | relative_url }}" class="episode-card">
      <div class="episode-card-inner">
        <h3 class="episode-title">{{ post.title }}</h3>
        <div class="episode-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b %Y" }}</time>
          {% if post.itunes_duration %}
            <span class="episode-duration">{{ post.itunes_duration }}</span>
          {% endif %}
        </div>
        <p class="episode-subtitle">{{ post.itunes_subtitle }}</p>
      </div>
    </a>
  {% endfor %}
</div>
